# This is a basic workflow to help you get started with Actions

name: ipk-builder

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: coolsnowwolf/lede
          submodules: recursive
          
      - name: update feeds
        run: |
          # rm .config
          #cp -f  localconfig/config  .config
          #pwd
          #ls -l 
          #echo "------------------------------------------------------------"
          cd "$GITHUB_WORKSPAACE"
          #pwd
          touch .config
          wget https://raw.githubusercontent.com/aguicc/ipk-bulid/main/localconfig/config -O .config
          cat .config  # 验证文件内容
          sudo apt-get update
          sudo apt-get install -y build-essential ccache flex gawk gettext git libncurses5-dev libssl-dev python3 python3-distutils rsync unzip zlib1g-dev
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          echo "------------------------------------------------------------"
          #cat .confg
          ls -l
          
      - name: config 
        run: |
          echo "success"

      - name:  
        run: |
          sudo apt update
          sudo apt install -y build-essential libncurses5-dev libncursesw5-dev \
              zlib1g-dev gawk git gettext libssl-dev xsltproc wget unzip \
              python3 python3-pip python3-setuptools swig libelf-dev \
              device-tree-compiler bc flex bison

          # 针对 Rockchip U-Boot 的额外依赖
          sudo apt install -y gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf
          
      - name: builder
        run: |
          make defconfig
          make download -j8
          find dl -size -1024c -exec ls -l {} \;
          find dl -size -1024c -exec rm -f {} \;
          echo -e "$(nproc) thread compile"
          make -j$(($(nproc) + 1))  || make -j1 || make -j1 
          
